.party {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;

    @media (max-width: 600px) {
        grid-template-columns: 1fr;
    }
}

.output-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column-gap: 32px;
    grid-row-gap: 16px;
}
