table.pk-party {
    border-collapse: collapse;

    td.pk-party {
        width: 160px;
        height: 36px;
        padding: 0 8px;
        text-align: left;
        font-size: 14px;
        font-weight: bold;
        white-space: nowrap;
    }

    td.pk-party.image-area, td.pk-party.free {
        width: 120px;
        text-align: center;
    }

    img.pk-party {
        width: 64px;
        height: 64px;
    }
}

tbody.pk-party.red-1 {
    td.pk-party {
        background: #FFEBEE;
    }
}

tbody.pk-party.red-2 {
    td.pk-party {
        background: #EF9A9A;
    }
}

tbody.pk-party.green-1 {
    td.pk-party {
        background: #E8F5E9;
    }
}

tbody.pk-party.green-2 {
    td.pk-party {
        background: #A5D6A7;
    }
}

tbody.pk-party.blue-1 {
    td.pk-party {
        background: #E3F2FD;
    }
}

tbody.pk-party.blue-2 {
    td.pk-party {
        background: #90CAF9;
    }
}

tbody.pk-party.amber-1 {
    td.pk-party {
        background: #FFF8E1;
    }
}

tbody.pk-party.amber-2 {
    td.pk-party {
        background: #FFE082;
    }
}

tbody.pk-party.brown-1 {
    td.pk-party {
        background: #EFEBE9;
    }
}

tbody.pk-party.brown-2 {
    td.pk-party {
        background: #BCAAA4;
    }
}

tbody.pk-party.blue-grey-1 {
    td.pk-party {
        background: #ECEFF1;
    }
}

tbody.pk-party.blue-grey-2 {
    td.pk-party {
        background: #B0BEC5;
    }
}
