@import "css/header.css";
@import "css/content.css";
@import "css/party_output.css";
@import "css/detail_output.css";

body {
    margin: 0;
}

h1 {
    font-size: 24px;
}

span {
    font-size: 16px;
}

span.font-bold {
    font-weight: bold;
}

label {
    font-size: 16px;
}

label.font-bold {
    font-weight: bold;
}

.content-area {
    padding: 16px;
}
